@import "container.css";
@import "navigation-menu.css";
@import "form.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 0.7s linear infinite;
}

/* produto em modo lista imagem */
@media (max-width: 830px) {
    .img-produto {
        width: 100%;
    }
}
